<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/static/candidate/css/login.css" />
  </head>
  <body>
    <form action="{% url 'otpverify' %}" method="POST">
      {% csrf_token %}
        <div class="login_form_container">
            <div class="login_form">
              <center class="alert alert-warning my-4" role="alert">
                {{msg}}
              </center>
              <h2>OTP Validation</h2>
              <div class="input_group">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  name="email"
                  placeholder="Username"
                  class="input_text"
                  autocomplete="off"
                  value="{{email}}"
                  readonly
                />
              </div>
              <div class="input_group">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <input
                  type="text"
                  name="otp"
                  placeholder="Enter Your OTP"
                  class="input_text"
                  autocomplete="off"
                />
              </div>
              <div class="button_group" id="login_button">   
                  <button type="submit" class="button_submit">Submit</button>
              </div>
              <!-- <div class="fotter">
                <a>Forgot Password ?</a>
                <a>SingUp</a>
              </div> -->
            </div>
          </div>      
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/static/candidate/js/login.js"></script>
  </body>
</html>